.kenyan-map{
    padding-top: 20px;
    padding-left: 15rem;
}
.county{
    fill: lavender;
}

.Turkana{
    fill: rgb(135, 133, 139);
}

.place-label{
    font-size: 10px;
}
.Mombasa{
    fill:#f8a531;
}

.Nairobi{
    fill:rgb(128, 98, 237);
}

.Marsabit{
    fill: rgb(87, 132, 236);
}

.Mandera{
    fill: rgb(87, 132, 236);
}

.Wajir{
    fill: rgb(87, 132, 236);
}
.Garissa{
    fill: rgb(87, 132, 236);
}

.Tana{
    fill: rgb(167, 241, 217);
}
.Isiolo{
    fill: rgb(87, 132, 236);
}
.Kitui{
    fill: rgb(167, 159, 82);
}
.Nyandarua{
    fill: #ef4545;
}

.Kirinyaga{
    fill: #ef4545;
}

.Siaya{
    fill: rgb(128, 246, 126);
}
.Kisumu{
    fill: rgb(152, 245, 151);
}

.Kisii{
    fill: rgb(152, 245, 151);
}

.Nyamira{
    fill:rgb(152, 245, 151);
}

.Narok{
    fill: rgb(214, 122, 241);
}

.Kajiado{
    fill: rgb(214, 122, 241);
}

.Kwale{
    fill:#f8a531;
}

.Taita{
    fill:#f8a531;
}

.Kilifi{
    fill:#f8a531;
}

.Samburu{
    fill: rgb(135, 133, 139);
}
.West{
    fill: rgb(135, 133, 139);
}
.Machakos{
    fill: rgb(167, 159, 82);
}
.Kiambu{
    fill:#ef4545;
}
.Nyeri{
    fill: #ef4545;
}
.Bay{
    fill: rgb(152, 245, 151);
}
.Migori{
    fill: rgb(152, 245, 151);
}
.Lamu{
    fill: rgb(167, 241, 217);
}
.Makueni{
    fill: rgb(167, 159, 82);
}
.Laikipia{
    fill: #ef4545;
}
.Trans{
    fill: rgb(99, 68, 60);
}
.Meru{
    fill: #ef4545;
}
.Tharaka{
    fill: #ef4545;
}
.Nakuru{
    fill: #ef4545;
}
.Bomet{
    fill: rgb(152, 245, 151);
}
.Baringo{
    fill: rgb(135, 133, 139);
}
.Busia{
    fill: rgb(152, 245, 151);
}
.Muranga{
    fill: #ef4545;
}
.Embu{
    fill: #ef4545;
}

.Kericho{
    fill: rgb(152, 245, 151);
}

.Bungoma{
    fill: rgb(152, 245, 151);
}
.Nandi{
    fill: rgb(99, 68, 60);
}
.Elgeyo-Marakwet{
    fill: rgb(135, 133, 139);
}
.Kakamega{
    fill: rgb(152, 245, 151);
}
.Uasin{
    fill: rgb(135, 133, 139);
}
.Vihiga{
    fill: rgb(152, 245, 151);
}