.topbar{
    width: 100%;
    height: 50px;
     background-color: #8BCC43;
     color: white;
     position: sticky;
     top: 0;
     z-index: 999;
}
.topbarWrapper{
    height: 60px;
    padding: 0px 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer; 
    border-radius: 50%;
}
.topbarIconContainer{
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    display: flex;
    
}
.links{
    color: white;
    font-size: 18px;
}
.topRight{
    align-items: center;
    position: relative;
    
}

.admin{
    margin-bottom: 20px;
}

.belowBar{
    width: 100%;
    height: 20px;
     background-color: #ffc000;
     position: sticky;
     top: 50;
     z-index: 999;
}

input{
    margin: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 2px;
}

.topLeft{
    display: flex;
    align-items: center;
    

}

.link{
    color: white;
}
.horizontal{
    height:20px;
    background-color:red;
}