table{
    margin-left: 10px;
    color: rgb(87, 85, 85);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8BCC43 !important;
}
h3{
    text-align: center;
}
.budgetpage{
    margin: 20px;
}