.mainContainer {
  width: 100%;
  border: 1px solid rgb(248, 245, 245);
  padding-top: 20px;
  margin: 10px;
  margin-bottom: 70px;
}

.search {
  width: 98%;
}

hr {
  border: 1px solid rgb(177, 174, 174);
}
h2 {
  color: rgb(114, 112, 112);
}
.color-nav {
  background-color: red;
}
.mainPageImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-bottom: 30px;
}
.mandate{
  padding-left: 100px;
}
@media (min-width: 1600px) {
  .mandate {
    padding-left: 200px;
  }
}