.content{
    align-items: center;
}
.budget{
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    height: 100%;
    color: gray;
    border-radius: 5px;
}

.chart{
    padding: 50px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
   table, td{
    border: 1px solid #ddd;
    padding: 8px;
    padding-left: 30px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  
  table th {
    text-align: left;
    background-color: #85c041;
    color: white;
  }