
.card-list{
    margin-top: 10px;
    padding: 10px;
    align-content: left;
}

.card{
    height:fit-content;
    border-style: none;
    opacity: 0.7;
    
}
.card-col{
    border-style:ridge;
    height:fit-content;
    padding-top: 20px;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.subcounties{
    margin-left: 0rem;
    gap: 1;
}
