.assembly{
    padding: 20px;
    padding-top: 70px;
    color: rgb(85, 83, 83);
    border-radius: 5px;
    width: 100%;
}

table, th, td{
    padding: 10px;
}


.officials{
    align-content: center;
    gap: 50px;
    margin: 10px;
    padding: 20px;
}

  @media (min-width:1600px) {
    .officials{
        align-content: center;
        gap: 400px;
        margin: 10px;
        padding: 20px;

    }
  }