.executiveInfo {
  padding: 30px;
  padding-top: 70px;
  box-shadow: rgba(176, 236, 181, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: rgb(63, 62, 62);
}
.governor {
  gap: 500px;
  margin-bottom: 30px;
  align-content: center;
}

.coa {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  margin: 20px;
}
@media (min-width: 1600px) {
  .governor {
    gap: 800px;
    padding-left: 50px;
    align-content: center;
  }

  .officials {
    align-content: center;
    gap: 270px;
    margin: 10px;
  }
}
