.sidebar{
    background-color: rgb(227, 231, 229);
    top: 0; 
    max-height: calc(85vh);
    overflow-y: auto;
    margin: 20px;
    margin-top: 60px;
}

.sidebar.active{
    border-radius: 10px;
    padding-left: 20px;
}
.sidebarTitle{
    color: rgb(113, 153, 130);
    text-decoration: underline;
}

.sidebarMenu{
    overflow-y: scroll;
}
.sidebarWrapper{
    color: rgb(177, 199, 188);
    padding: 10px;
}

.sidebarList{
    list-style: none;
    overflow-y: scroll;
    padding-top: 30px;
}



.sidebarListItem{
    color: rgb(111, 126, 116);
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.dashboardItems{
    margin-bottom: 10px;
    padding: 10px;
}
.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: rgb(204, 211, 206);
}

.sidebarAddIcon{
    align-content: flex-end;  
     margin-left: 10px;
     font-size: 15px !important;
}

a{
    text-decoration: none;
    color: rgb(111, 126, 116);
}
a.active{
    background-color: rgb(204, 211, 206);
}
