@media (max-width:2000px) {
  .container {
    max-width: 100%;
  }
}

.container {
  margin-left: 0;
  padding-left: 0;
  height: max-content;
  color: rgb(75, 73, 73);
  
}

.other {
  align-content: center;
  color: rgb(110, 110, 110);
  width: 80%;
  padding-left: 10px;
  overflow: scroll;
}
.sidebar{ 
  width: 20%;
}
.cara{
  margin-top: 60px;
}
.nav-link {
  color: rgb(75, 73, 73);
}
.accordion{
  padding: 5px;
}
.pfm{
  padding: 50px;
}
h3{
  align-content: center;

}

